input {
    margin: 4px 4px 4px 4px;
    width: 150px;
}

label {
    color: black;
    display: inline-block; 
    width: 95px;
}

span {
    color: red;
    display: inline-block;
}

button {
    margin: 4px 4px 4px 4px;
    width: 75px;
}